*{
	padding: 0;
	margin: 0;
	list-style: none;
}
img{
	border: 0;
}
a{
	text-decoration: none;
}
body{
	background: url(../images/qi.png);
}

#canvas{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	border: 2px solid #000;
	box-shadow: 0px 0px 5px #000;
	/*background: url(qi.jpg);
	background-size:cover ;*/
}
#box{
	width: 33%;
	height: 450px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	
}
.wuziqi{
	position: absolute;
	top: 5%;
	left:5%;
	width: 23%;
	height: auto;
	overflow: hidden;
}
.wuziqi img{
	width: 100%;
}
#time{
	width: 33%;
	height: 400px;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	
}
.left{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 20%;
	height: 25%;
	overflow: hidden;
	display: block;
}
.left img{
	width:100%;
}
.right{
	position: absolute;
	right: 0;
	top: 0;
	width: 25%;
	height: 30%;
	overflow: hidden;
	display: block;
}
.right img{
	width: 100%;
}
#canvas1{
	display: block;
	width: 180px;
	height: 180px;
	margin: 20px auto;
	border: 2px solid #000;
	box-shadow: 0px 0px 5px #000;
	/*background: url(qi.jpg);
	background-size:cover ;*/
}
#canvas2{
	display: block;
	width: 180px;
	height: 180px;
	margin: 20px auto;
	border: 2px solid #000;
	box-shadow: 0px 0px 5px #000;
	/*background: url(qi.jpg);
	background-size:cover ;*/
}
.hint{
	position: fixed;
	width: 300px;
	height: 250px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	background: rgba(0,0,0,0.5);
	border-radius: 10px;
	display:none;
	text-align: center;
	line-height: 40px;
	color: #FFF;
	font-size: 16px;
	padding: 40px 20px;
	padding-bottom: 0;
	opacity: 0;
	z-index: -1;	
	transition: all 1s linear;
}
.dbclick{
	display:block ;
	animation: show 1s linear both;
	z-index: 1;
}
.click{
	display:block;
	animation: hide 1s linear both;
	z-index: -1;
}
/*遮罩*/

.st{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	box-shadow: 0px 0px 5px #000;
	width: 450px;
	height: 450px;	
	display: block;
	z-index: 10;
	text-align: center;
	line-height: 450px;
	color: #FFF;
	font-size: 25px;
	background: rgba(0,0,0,0.3);
}
@keyframes show{
	from{
		opacity: 0;
		transform: scale(0.5);
	}
	to{
		opacity: 1;
		transform: scale(1);;
	}
}
@keyframes hide{
	from{
		opacity: 1;
		transform: scale(1);;
		
	}
	to{
		opacity: 0;
		transform: scale(0.5);
	}
}

/*结束效果*/

#over{
	position: fixed;
	width: 450px;
	height: 450px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	border-radius: 10px;
	display:none;
	text-align: center;
	line-height: 40px;
	color: #FFF;
	font-size: 16px;
	padding: 40px 20px;
	padding-bottom: 0;
	z-index: 1;	
	transition: all 1s linear;
}
#over .over{
	width: 300px;
	height: 100px;
	line-height: 100px;
	color: #FFF;
	font-size: 30px;
	background: rgba(0,0,0,0.3);
	margin: 100px auto;
	border-radius: 5px;
	letter-spacing: 2px;
}



{
	position: relative;
}
.player{
	position: absolute;
	left: 65%;
	top: 40%;
	width: 120px;
	height: 27px;
	box-shadow: 0px 0px 3px #000;
	color: #6F6F6F;
	line-height: 27px;
	text-align: center;
	font-size: 16px;
	letter-spacing: 2px;
	font-weight: bold;
	transition: all 1s linear;
}
 .computer{
	position: absolute;
	left: 65%;
	top: 50%;
	width: 120px;
	height: 27px;
	box-shadow: 0px 0px 3px #000;
	color: #6F6F6F;
	line-height: 27px;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 2px;
}

.qipu{
	position: fixed;
	width: 400px;
	height: 400px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	display:none;
	z-index: 1000;
	background: #fff;
	box-shadow: 0 0 0 25px rgba(0,0,0,0.5);	
}
.qipu img{
	width: 100%;
}
#qi{
	display: none;
}
.red{
	color: red;
}
